.html {
  font-family: "Meiryo", sans-serif;
}

  .container {
    background-color: pink;
    height: cover;
    width: 1025px;
    font-size: 25px;
  }

@media screen and (max-width: 768px) {
  .container {
    background-color: red;
    height: cover;
    width: 717px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-color: red;
    height: cover;
    width: 410px;
    font-size: 0.4rem;
  }
}

.container h1 {
  font-size: 35px;
}

@media screen and (max-width: 480px) {
  .container h1 {
    font-size: 20px;
  }
}

.item {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  height: cover;
  width: 717px;
}

@media screen and (max-width: 768px) {
  .item {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    height: cover;
    width: 500px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .item {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    height: cover;
    width: 358px;
    font-size: 10px;
  }
}

.name {
  width: 50%;
  padding: 1em 0.5em;
  line-height: 1;
  font-size: 15px;
}

.email {
  width: 50%;
  padding: 1em 0.5em;
  line-height: 1;
  font-size: 15px;
}

.phoneno {
  width: 50%;
  padding: 1em 0.5em;
  line-height: 1;
  font-size: 15px;
}

#submission {
  width: 25%;
  padding: 1em 0.5em;
  line-height: 1;
  text-align: center;
}

.backtohome {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.backtohome a:link {
  color: lightgrey;
}

.backtohome a:visited {
  color: lightgray;
}

.backtohome a:hover {
  color: #b0c4de;
}

.backtohome a:active {
  color: #b0c4de;
}